@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: theme('colors.text_color');
  background-color: theme('colors.header_bg_color');

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: theme('colors.link_color');
  text-decoration: inherit;
}
a:hover {
  color: theme('colors.link_color');
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: theme('colors.button_color');
  color: theme('colors.button_text_color');
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: transparent;
}
button:focus,
button:focus-visible {
  outline: none;
  box-shadow: none;
}

#root {
  max-width: 1280px;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em theme('colors.link_color'));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.667));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: theme('colors.hint_color');
}